<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
    <div
        class="px-8 2xl:max-w-7xl mx-auto pt-12"
        data-aos="fade-up"
        data-aos-duration="2000"
    >
        <svg
            viewBox="0 0 501 84"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M29.0059 6.504V49.8C29.0059 51.464 29.4539 52.776 30.3499 53.736C31.3099 54.696 32.5899 55.176 34.1899 55.176H42.5419V69H28.6219C22.0939 69 17.2299 67.432 14.0299 64.296C10.8299 61.16 9.22988 56.328 9.22988 49.8V6.504H29.0059ZM42.1579 18.12V31.752H0.205875V18.12H42.1579ZM69.6319 18.12V69H49.8559V18.12H69.6319ZM69.9199 0.839996V12.648H49.5679V0.839996H69.9199ZM96.6761 18.12L97.1561 25.704C98.5001 22.952 100.356 20.808 102.724 19.272C105.156 17.736 107.908 16.968 110.98 16.968C114.372 16.968 117.284 17.864 119.716 19.656C122.148 21.448 123.94 24.008 125.092 27.336C126.5 23.88 128.452 21.288 130.948 19.56C133.444 17.832 136.292 16.968 139.492 16.968C142.948 16.968 145.988 17.704 148.612 19.176C151.3 20.584 153.38 22.728 154.852 25.608C156.324 28.488 157.06 32.04 157.06 36.264V69H137.284V43.08C137.284 39.112 136.9 36.296 136.132 34.632C135.364 32.904 134.02 32.04 132.1 32.04C130.756 32.04 129.668 32.424 128.836 33.192C128.004 33.96 127.396 35.176 127.012 36.84C126.628 38.44 126.436 40.52 126.436 43.08V69H109.636V43.08C109.636 40.328 109.476 38.184 109.156 36.648C108.9 35.048 108.388 33.896 107.62 33.192C106.852 32.424 105.828 32.04 104.548 32.04C103.204 32.04 102.084 32.424 101.188 33.192C100.356 33.96 99.7481 35.176 99.3641 36.84C98.9801 38.44 98.7881 40.52 98.7881 43.08V69H79.0121V18.12H96.6761ZM187.106 18.12H206.402L206.786 28.584L205.538 28.296C206.818 24.648 208.834 21.864 211.586 19.944C214.338 17.96 217.634 16.968 221.474 16.968C225.89 16.968 229.73 18.088 232.994 20.328C236.322 22.568 238.818 25.704 240.482 29.736C242.21 33.704 243.074 38.312 243.074 43.56C243.074 48.808 242.21 53.448 240.482 57.48C238.818 61.448 236.322 64.552 232.994 66.792C229.73 69.032 225.89 70.152 221.474 70.152C219.042 70.152 216.802 69.736 214.754 68.904C212.706 68.008 210.914 66.728 209.378 65.064C207.842 63.336 206.594 61.256 205.634 58.824L206.882 58.536V83.4H187.106V18.12ZM205.922 43.56C205.922 46.056 206.242 48.264 206.882 50.184C207.586 52.104 208.578 53.608 209.858 54.696C211.202 55.784 212.738 56.328 214.466 56.328C217.09 56.328 219.138 55.176 220.61 52.872C222.146 50.504 222.914 47.4 222.914 43.56C222.914 39.848 222.146 36.808 220.61 34.44C219.074 32.008 217.026 30.792 214.466 30.792C212.674 30.792 211.138 31.368 209.858 32.52C208.578 33.608 207.586 35.112 206.882 37.032C206.242 38.952 205.922 41.128 205.922 43.56ZM277.725 70.152C272.029 70.152 267.005 69.064 262.653 66.888C258.365 64.648 255.037 61.512 252.669 57.48C250.365 53.448 249.213 48.808 249.213 43.56C249.213 38.312 250.365 33.672 252.669 29.64C255.037 25.608 258.365 22.504 262.653 20.328C267.005 18.088 272.029 16.968 277.725 16.968C283.357 16.968 288.317 18.088 292.605 20.328C296.957 22.504 300.285 25.608 302.589 29.64C304.957 33.672 306.141 38.312 306.141 43.56C306.141 48.808 304.957 53.448 302.589 57.48C300.285 61.512 296.957 64.648 292.605 66.888C288.317 69.064 283.357 70.152 277.725 70.152ZM277.725 56.232C280.413 56.232 282.461 55.144 283.869 52.968C285.277 50.792 285.981 47.656 285.981 43.56C285.981 39.464 285.277 36.328 283.869 34.152C282.461 31.976 280.413 30.888 277.725 30.888C274.973 30.888 272.893 31.976 271.485 34.152C270.077 36.328 269.373 39.464 269.373 43.56C269.373 47.656 270.077 50.792 271.485 52.968C272.893 55.144 274.973 56.232 277.725 56.232ZM332.496 18.12L333.072 34.44L331.728 34.248C332.56 28.936 334.064 24.936 336.24 22.248C338.416 19.496 341.424 18.12 345.264 18.12H349.584V31.944H344.976C342.096 31.944 339.76 32.328 337.968 33.096C336.176 33.8 334.896 34.92 334.128 36.456C333.36 37.992 332.976 39.976 332.976 42.408V69H313.2V18.12H332.496ZM383.662 6.504V49.8C383.662 51.464 384.11 52.776 385.006 53.736C385.966 54.696 387.246 55.176 388.846 55.176H397.198V69H383.278C376.75 69 371.886 67.432 368.686 64.296C365.486 61.16 363.886 56.328 363.886 49.8V6.504H383.662ZM396.814 18.12V31.752H354.862V18.12H396.814ZM401.092 43.56C401.092 38.312 402.244 33.672 404.548 29.64C406.916 25.608 410.244 22.504 414.532 20.328C418.82 18.088 423.812 16.968 429.508 16.968C435.012 16.968 439.876 18.216 444.1 20.712C448.324 23.144 451.556 26.6 453.796 31.08C456.036 35.56 457.028 40.712 456.772 46.536L456.676 48.36H421.636C421.7 50.984 422.436 53.096 423.844 54.696C425.252 56.232 427.14 57 429.508 57C431.108 57 432.548 56.584 433.828 55.752C435.172 54.856 436.1 53.736 436.612 52.392L456.1 53.736C454.5 58.792 451.3 62.792 446.5 65.736C441.764 68.68 436.1 70.152 429.508 70.152C423.812 70.152 418.82 69.064 414.532 66.888C410.244 64.648 406.916 61.512 404.548 57.48C402.244 53.448 401.092 48.808 401.092 43.56ZM437.188 38.28C437.06 35.72 436.292 33.736 434.884 32.328C433.476 30.856 431.684 30.12 429.508 30.12C427.204 30.12 425.348 30.856 423.94 32.328C422.532 33.8 421.764 35.784 421.636 38.28H437.188ZM483.339 18.12L483.915 34.44L482.571 34.248C483.403 28.936 484.907 24.936 487.083 22.248C489.259 19.496 492.267 18.12 496.107 18.12H500.427V31.944H495.819C492.939 31.944 490.603 32.328 488.811 33.096C487.019 33.8 485.739 34.92 484.971 36.456C484.203 37.992 483.819 39.976 483.819 42.408V69H464.043V18.12H483.339Z"
                fill="#0000FF"></path>
        </svg>
    </div>
    <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
        <div class="mt-6 space-y-2">
            <div
                class="h-0.5 bg-secondary"
                data-aos="fade-up"
                data-aos-duration="1000"
            >
            </div>
            <div
                class="flex flex-col sm:flex-row gap-3 justify-between items-center"
                data-aos="fade-up"
                data-aos-duration="1500"
            >
                <div class="flex gap-3 items-center">
                    <h3 class="text-secondary text-xs font-medium">
                        <span>Consulting</span>
                        <span class="font-bold">Banking</span>
                        <span class="italic">Finance</span>
                    </h3>
                    <span class="h-auto border-secondary border"></span>
                    <span class="text-secondary text-xs font-semibold"
                        >Available for work</span
                    >
                </div>
                <div>
                    <ul class="items-center inline-flex gap-3 relative">
                        <li>
                            <a
                                href="mailto:tim@timporter.associates"
                                class="hover:text-secondary/80 text-secondary"
                                ><svg
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="16"
                                    width="16"
                                    ><path d="M0 0h24v24H0z" fill="none"
                                    ></path><path
                                        d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                                        fill="currentColor"></path></svg
                                ></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="h-1.5 bg-secondary"
                data-aos="fade-up"
                data-aos-duration="2000"
            >
            </div>
            <div
                class="h-3 bg-secondary"
                data-aos="fade-up"
                data-aos-duration="2500"
            >
            </div>
            <div
                class="h-6 bg-secondary"
                data-aos="fade-up"
                data-aos-duration="3000"
            >
            </div>
            <div
                class="h-12 bg-secondary"
                data-aos="fade-up"
                data-aos-duration="3000"
            >
            </div>
            <div
                class="h-24 bg-secondary flex items-end p-4"
                data-aos="fade-up"
                data-aos-duration="3000"
                data-aos-delay="150"
            >
            </div>
            <div class="flex w-full">
                <span class="text-xs font-medium text-secondary flex"
                    >Austin, &nbsp;<a
                        class="hover:text-black duration-200 font-bold">Texas</a
                    ></span
                >
                <span class="text-xs font-medium text-secondary flex ml-auto"
                    >Serving the community since &nbsp;<a
                        class="hover:text-black text-secondary duration-200 font-bold"
                        >1971</a
                    ></span
                >
            </div>
        </div>
    </div>
</section>
